@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-09-13 20:03:14
 * @version $Id$
 */
#slider{height: 100%;
		width: 100%;
		overflow: hidden;}
li,ul{
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
		overflow: hidden;
	}
li{
position: absolute;
display: -webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center;
-webkit-backface-visibility:hidden;
}
body{overflow: hidden;}
li img {
max-width: 100%;
max-height: 100%;
}


